

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}
#juego{
  width: 600px;
  height: 600px;
  background:rgb(109, 177, 174);
}
#juego .piezas{
  width: 33%;
  height: 33%;
  border:1px solid #3C9391;
  float:left;
}
#juego .piezas img{
  width: 100%;
}
#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#titulo{
  background: #E54155;
  color:#FFF;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
#instrucciones p{
  color:#E54155;
  font-weight: bold;
}



